<ion-content>
  <div class="container">
    <div class="box">
      <h2>Enter your IP address</h2>
      <div class="ip-box">
        <input id="ip" type="text" placeholder="Enter IP..." [(ngModel)]="ip" class="ip-input">
        <p>:</p>
        <input id="port" type="text" placeholder="Enter port..." [(ngModel)]="port" class="port-input">
      </div>
      <div class="button-box">
        <button (click)="goToMCDU()" class="button button-menu">Go to MCDU</button>
        <button (click)="pingServer(2)" class="button button-menu">Search Server</button>
        <button (click)="openDocument('checklist')" class="button button-menu">Open Check List</button>
        <button (click)="openDocument('sop')" class="button button-menu">Open SOP</button>
      </div>
      <button (click)="openDocument('instruments')" class="button button-menu">Open Instruments Guide</button>
    </div>
    <div class="footer">
      <p>Developed by <span>Luca Puglisi</span></p>
    </div>
    <div class="pdf-viewer">
      <pdf-viewer [src]="url" [render-text]="true" [original-size]="false"></pdf-viewer>
      <button class="close-button" (click)="closeViewer()">Close {{docName}}</button>
    </div>
  </div>
  <app-loader *ngIf="searching"></app-loader>
</ion-content>